.news-block {
    background-color: white;
    border-radius: 14px;
    padding: 21px;
}

.placeholder {
    text-align: center;
}

.news-header-title {
    color: black;
    font-size: 2em;
    font-weight: 600;
    margin: 7px auto;
}

hr {
    border: 1px solid #E2E2E4;
}

.news-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.news-link-wrapper {
    color: inherit;
    text-decoration: none;
}

.buttons-container {
    float: right;
}

.button-icon {
    border: 0;
    background-color: transparent;
    color: #2e303a;
}