.news-block {
    background-color: white;
    border-radius: 14px;
    padding: 21px;
}

.placeholder {
    text-align: center;
}

.placeholder h2 {
    color: black;
}

.news-header-title {
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin: 7px auto;
}

hr {
    border: 1px solid #E2E2E4;
}

.news-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.news-link-wrapper {
    color: inherit;
    text-decoration: none;
}

.business-list .news-link-wrapper:not(:last-child) {
    border-bottom: 1px solid #E2E2E4;
    padding-bottom: 21px;
}

.buttons-container {
    margin-top: 20px;
    float: right;
}

.button-icon {
    border: 0;
    background-color: transparent;
    color: #2e303a;
}

.button-icon:not(:disabled) {
    cursor: pointer;
}

.button-icon:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .not-first-item .news-image {
        display: none;
    }

    .news-link-wrapper:not(:last-child) {
        border-bottom: 1px solid #E2E2E4;
        padding-bottom: 21px;
    }
}